body,html{
    font-family: "Arial",sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before, *:after{
    box-sizing: inherit;
}
header a{
    text-decoration: none;
    color:inherit;
    margin: 0 8px;
}
header a:hover{
    text-decoration: underline;
}
body{
    overflow: hidden;
    height: 100vh;
    /* Propiedades para modificar a los hijos */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    color: #70757a
}
header{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem; 
    align-items: center;
}
header div{
    margin-top: 0.5rem;
}
header nav{
    display: flex;
}
.profile{
    height: 40px;
    width: 40px;
    border-radius: 999px;
    border:transparent;
    text-align: center;
    background-color: aquamarine;
    margin: 0 8px;
}
.menu_btn{
    height: 40px;
    width: 40px;
    border-radius: 999px;
    border:transparent;
    text-align: center;
    margin: 0 8px;
}
button img {
    background-position: 50% 50%; 
background-repeat: no-repeat;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logo{
    height: 5.75rem;
    width: 17rem;
}
.busqueda{
    width: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 999px;
}
.busqueda input{
    padding: 8px 16px;
    padding-left: 4px;
    font-size: 18px;
    /* border-radius: 16px; */
    border: transparent;
    width: 100%;
}
.ultimo_texto{
    margin-top: 1.5rem;
}
.busqueda span:after{
    content: '';
    font-size: 25px;
}
.busqueda span:before{
    content: '';
    font-size: 25px;
}
.acciones{
    margin-top: 20px;
}
.acciones button{
    border: transparent;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
    height: 36px;
    padding: 8px 16px;
}
.acciones button:hover{
    box-shadow:  rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;;
}
footer {
    background-color: #f2f2f2;
  }
  
  footer h5 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;  
    margin-left: 16px;
  }
  footer a{
    text-decoration: none;
    color:inherit;
    margin: 0 8px;
}
footer a:hover{
    text-decoration: underline;
}
  .pais {
    border-bottom: 1px solid #dadce0;  
    padding: 20px;
  }
  
  .links{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .links nav {
    flex-basis: 50%;
  }
  
  .lt {
    /* display: flex;
    justify-content: flex-end;
    margin-left: auto; */
    margin-left: 50%;
  }
/* .link a{
    padding: 15px;
    width: 4.3rem;
    height: 1rem;
} */
.link nav{
    flex-basis: 50%;
    
}
@media (max-width: 60rem){
    .link{
        flex-direction: column;
        align-items: center;
    }
}